@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
	ViewBag.Title = "Dodaj Skupino";
}

	<h2>Upravljanje skupin!</h2>


	<tr>
		<td>
			<table class="table">

				@foreach (var item in Model)
				{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.ActionLink("Izbriši", "Delete", new { id=item.Id})
					</td>
				</tr>}
			</table>
		</td>
		<td>
			<h3>   @Html.ActionLink("Klikni za ustvarjanje nove skupine", "Create", "Role") </h3>
		</td>
	</tr>





