
<h3>@ViewBag.Message</h3>

<div style="float:left;">
	<p>
		<img src="~/Pictures/o-nas1.jpg" alt="o-nas1" style="width:600px; float:left;" />Prostovoljno gasilsko društvo Črešnjevec je bilo ustanovljeno leta 1956. Gasilstvo v teh krajih pa sega še dlje v zgodovino, saj so
		bili prebivalci vasi Črešnjevec, Cerovec in Hrib, člani PGD Krvavčji vrh, ki pa je bilo ustanovljeno že leta 1930 in je za Semičem najstarejše društvo v Občini Semič. Zaradi različnih pogledov na razvoj gasilske
		dejavnosti na tem območju je bil ustanovljen pripravljalni odbor za ustanovitev samostojnega PGD Črešnjevec z sedežem na Cerovcu. Predsednik pripravljalnega odbora je bil Škrinjar Janez (Cegulov Žan). Pripravljalni
		odbor je končal svoje delo in leta 1956 je bilo registrirano Gasilsko društvo Črešnjevec.
	</p>
</div>

<div style="float:left;">
	<br />
	<p>Za prvega predsednika je bil izvoljen Kambič Janez (Zagorčev Žan) iz Črešnjevca,  v prvi upravni odbor izvoljeni naslednji člani:</p>
	<img src="~/Pictures/Zagorcev_zan.jpg" alt="Zagorcev_zan" style="width:400px" />
	<img src="~/Pictures/Cegulov_zan.jpg" alt="Cegulov_zan" style="width:400px" />
	<p>Predsednik pripravljalnega odbora, Janez škrinjar-Cegulov Žan in prvi predsednik PGD Črešnjevec Janez Kambič-Zagorcev Žan.</p>
</div>

<div style="float:left;">
	<br />
	<p>Prvotno vodstvo PGD Črešnjevec</p>
	<ul>
		<li>Kambič Janez, Črešnjevec – predsednik</li>
		<li>Kambič Anton, Črešnjevec – poveljnik</li>
		<li>Kambič Alojz, Cerovec – tajnik</li>
		<li>Petric Jože, Črešnjevec – blagajnik</li>
		<li>Jakša Jože, Črešnjevec – član</li>
		<li>Plut Jože, Cerovec – član</li>
		<li>Radoš Martin, Cerovec  – član</li>
		<li>Dušak Franc, Cerovec – član</li>
	</ul>

	<p>Nadzorni odbor:</p>
	<ul>
		<li>Kambič Jakob, Črešnjevec</li>
		<li>Štubljar Jakob, Cerovec</li>
		<li>Sodec Anton, Cerovec</li>
	</ul>
	<p>
		Po pisnih virih je bilo v začetku včlanjenih 42 članov iz vasi Črešnjevec, Cerovec in Hrib.Člani UO so vodili društvo predvsem po izkušnjah, saj takrat gasilsko izobraženega kadra ni bilo. Prirejali pa so strokovna predavanja in
		izobraževanja. V letu 1960 pa sta tečaj za gasilskega podčastnika opravila Kočevar Stane in Dušak Franc.
		Prvi upravni odbor si je zadal nalogo, da čimprej zgradijo svoj gasilski dom. S prostovoljnim delom in v sodelovanju s takratno KZ Črešnjevec jim je to tudi kmalu uspelo. Takrat je med ljudmi vladala še velika solidarnost, saj so
		les za ostrešje prispevali tudi vaščani okoliških vasi: Gradnik, Sodji vrh, Praproče, Omota, Podreber, Oskoršnica, verjetno pa tudi od drugod vendar zapiski od drugih darovalcev niso ohranjeni. Dom je bil v grobem dograjen v letu
		1958. Največji problem takratnih članov pa je bilo pomanjkanje gasilske opreme. Predvsem so si člani želeli motorne brizgalne, saj so morali tudi na vaje hoditi k drugim društvom največkrat v Stransko vas. Prvo motorno brizgalno Savica
		so pridobili leta 1963, ker je bila to prva tehnika v kraju so člani z večjim veseljem poprijeli za delo. Ker je tehnika hitro napredovala smo v letu 1973 nabavili novo motorno brizgalno ”ROSENBAUER”. Ob 20 letnici društva leta 1976
		smo razvili prvi gasilski prapor, drugega pa ob 40 letnici društva leta 1996.V letu 1985 smo nabavili prvi gasilski avtomobil kombi IMV, katerega smo odkupili od Iskre Semič, poleg vozila smo v tem obdobju nabavili še več gasilske
		opreme in tudi obnovili gasilski dom. Drugi gasilski avto smo nabavili leta 2001. V tem letu smo zamenjali tudi motorno brizgalno. V zadnjih letih smo veliko dela in materialnih sredstev namenili za preureditev okolice gasilskega doma,
		za postavitev večnamenskega objekta, ter za ureditev kletnih prostorov. V zadnjem obdobju smo veliko pozornosti namenjali izobraževanju kadrov v našem društvu, poleg tega pa smo uredili tudi okolico gasilskega doma, kakor tudi samega
		doma, saj smo v preteklem letu popolnoma uredili in obnovili kletne prostore gasilskega doma in s tem pridobili prepotreben prostor za delovanje gasilskega društva. Vsekakor lahko rečemo, da je PGD Črešnjevec osrednja organizacija na tem
		področju, stičišče in organizator vseh pomembnejših dogodkov v tem kraju.
	</p>
</div>


<div style="float:left;">
	<br />
	<b>Naloga operativne enote društva:</b>
	<p>
		Operativna enota PGD Črešnjevec je razvrščena v 1.kategorijo enot kar pomeni, da ima 15 člansko operativno enoto usposobljenih gasilcev in je po pogodbi z županom občine Semič zadolžena
		za naloge gašenja in reševanja ob požarih in drugih nesrečah,izvajanje preventivnih nalog za varstvo pred požari na območju vasi Črešnjevec, Cerovec in Hrib, kakor tudi za pomoč drugim društvom v kolikor smo poklicani na pomoč.
	</p>
	<br />
	<b>Članstvo:</b>
	<p>
		Število članov je vse od ustanovitve do danes bolj ali manj naraščalo. Trenutno imamo 151 članov. Od tega 95 članov, 56 članic. Lahko rečemo da ni gospodinjstva na našem območju, da ne bi bilo nobenega člana PGD in ni malo
		gospodinjstev kjer so vsi člani PGD Črešnjevec.
	</p>
	<br />
	<b>Strokovna usposobljenost:</b>
	<p>
		V PGD Črešnjevec nenehno stremimo k višanju nivoja usposobljenosti, tako s pridobivanjem sodobne opreme, kot tudi z izobraževanjem. V društvu imamo enega gasilskega častnika II. stopnje enega gasilskega častnika, 3 nižje gasilske
		častnike II. stopnje, enega nižjega gasilskega častnika 1. stopnje, 4 nižje gasilske častnike, 64 izprašanih gasilcev,.4 člani imajo opravljen tečaj za uporabo dihalnih aparatov, 4 člani imajo opravljen tečaj za strojnike imamo tudi
		dva informatika, enega sodnika gasilsko športnih disciplin in enega mentorja gasilske mladine.
	</p>
	<br />

	<b>Trenutno vodstvo:</b>
	<ul>
		<li>Sonja Malnarič, Črešnjevec – predsednik</li>
		<li>Robert Munstein, Črešnjevec – poveljnik</li>
		<li>Suzana Kambič, Črešnjevec – tajnik</li>
		<li>Boštjan Ogulin, Cerovec – blagajnik</li>
		<li>Rok Kočevar, Črešnjevec – Gospodar</li>
		<li>Jože Malnarič ml, Črešnjevec – namestnik poveljnika</li>
	</ul>

</div>


