@{
    ViewBag.Title = "Zgodovina društva";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Spletna stran majhne vasice na jugovzhodnem delu Slovenije, Črešnjevec pri Semiču. Pestro dogajanje, aktivnosti, reportaže, prireditve, Gasilsko društvo, športno društvo črešnjevec...</p>
